$main-color : #7FB2F0;
$second-main : #ADD5F7;
$text-color-default : #ffffff;
$text-color-custom : #4E7AC7;
body{
  overflow-y: auto;
}
#heading_container{
  background-color: #7FB2F0;
  h1 {
    color: $text-color-default;
  }
  border-radius: 75px 20px 75px 20px;
}
#panel{
  border: none;
  #panel_body{
    border: none;
  }
}
#panel_heading{
  background-color: $second-main;
  color: $text-color-default;
  border-radius: 30px 30px;
  border: none;
}
#panel_heading:hover{
  background-color: $text-color-custom;
}
#table_container{
  #table_subject{
    background-color: $second-main;
    color: #000000;
  }
  .selected_date{
    color: #000000;
  }
  border: 1px solid $second-main;
  color: $text-color-custom;
  #back_btn{
    margin: 10% 0 5% 0;
  }
}
#group_description{
  color:$text-color-custom ;
}
.custom_btn{
  background-color: #7FB2F0;
  color: $text-color-default;
}
#amount_heading{
  color: $main-color;
  .subject_info{
    color:$text-color-custom;
  }
}
#calendar_container{
  border: 1px solid $second-main;

}
#table_container:hover , #calendar_container:hover{
  border: 2px solid $second-main;
 }
#select_box{
 text-align: center;
  text-align-last:center;
}