<!--
<form id="add-form" ng-submit="addFeed()">
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="obj.title" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputLink" class="col-sm-2 control-label">Link</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputLink" placeholder="Link" ng-model="obj.link" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-lg app-btn-purple">Add</button>
        </div>
    </div>
</form>
-->




<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form class="form-horizontal add-feed" role="form" ng-submit="addFeed()">
            <div class="form-group">
                <label class="control-label col-sm-3" for="url">Url:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control form-input" id="url" placeholder="Enter url" ng-model="obj.link" required>
                </div>
            </div>
            <div class="form-group">
                <p class="text-center article-title">Articles</p>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="article">
                            Lorem ipsum dolor sit amet, dicta ornatus consectetuer no eam, quo vitae tollit id, idque nostrud definitionem id cum. Ad sit hinc ocurreret.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="article">
                            Lorem ipsum dolor sit amet, dicta ornatus consectetuer no eam, quo vitae tollit id, idque nostrud definitionem id cum. Ad sit hinc ocurreret.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="article">
                            Lorem ipsum dolor sit amet, dicta ornatus consectetuer no eam, quo vitae tollit id, idque nostrud definitionem id cum. Ad sit hinc ocurreret.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 center-block">
                    <button type="submit" class="btn btn-default add-feed-btn center-block">Add feed</button>
                </div>
            </div>
        </form>
    </div>
</div>