<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav collapsible">
            <li id="allFeeds">
                <button type="button" class="btn" id="all" aria-label="Left Align">
                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                </button>All
            </li>

            <li id="feeds">
                <div href="#items" data-toggle="collapse"><span id="glyphFeeds" class="glyphicon glyphicon-chevron-right"></span> IT</div>
                <div class="collapse" id="items">
                    <a href="#">Subitem 1</a>
                    <a href="#">Subitem 2</a>
                </div>
            </li>

            <li>
                <div id="addFeed">
                    <div>
                        <button type="button" class="btn btn-primary" aria-label="Left Align" ui-sref=".addFeed">
                            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        </button> Add Feed
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <div id="toggleBtn">                        
                        <button href="#menu-toggle" class="btn btn-default" id="menu-toggle"><span id="glyphToggle" class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <ui-view></ui-view>
                </div>
            </div>
        </div>
    </div>
</div>