<div ng-repeat="feed in feeds">
    <div class="centered-block"><span ng-bind="feed.title"></span><button class="glyphicon glyphicon-remove
" ng-click="removeFeed(feed._id)"></button></div>
</div>
<div class="btn btn-success btn-lg" data-toggle="collapse" data-target="#add-form">
    ADD FEED
</div>
<form id="add-form" class="collapse form-horizontal" ng-submit="addFeed()">
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="obj.title" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputLink" class="col-sm-2 control-label">Link</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputLink" placeholder="Link" ng-model="obj.link" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-lg app-btn-purple">Add</button>
        </div>
    </div>
</form>