<div id="home" class="row">
	<div id='home_container' class="text-center">
		<div class="slide-down-anim">
			<h1 class="welcometo">Welcome to <span class="orange">RSS</span>|READER</h1>
			<h3 class="welometo-under">All of your favourites news feeds in one place</h3>
		</div>
		<div class="fade-in-1s">
			<button class="app-btn app-btn-blue" ng-click="onFeeds()" ng-hide='!isLoggedIn()'>Show Feeds</button>
			<button id="login-btn" class="app-btn app-btn-blue" ng-click="onLogin()" ng-hide="isLoggedIn()">Sign In</button>
			<button id="register-btn" class="app-btn app-btn-blue" ng-click="onRegister()" ng-hide="isLoggedIn()">Sign Up</button>
		</div>
		<div class="center-block dashboad-image">
			<img class="slide-from-left hidden-xs hidden-sm" src="assets/images/dashboard-view.png" alt="Alternate Text" />
			<img class="slide-from-left visible-xs" src="assets/images/dashboard-view-mobile.png" alt="Alternate Text" />
			<img class="slide-from-left visible-sm" src="assets/images/dashboard-view-tablet.png" alt="Alternate Text" />
		</div>
	</div>
</div>
<div class="row">
	<div class="second-layer">
		<!--<h3 class="fade-in-1s text-center">Easily add new feeds</h3>-->
	</div>
</div>