
    <div class="col-md-12 list-header">
        <div class="row">
            <div class="col-sm-6">
                <span class="title"><span>IT</span> 0 articles</span>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-default" aria-label="Center Align"><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-default" aria-label="Justify"><span class="glyphicon glyphicon glyphicon-list" aria-hidden="true"></span></button>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div>{{feeds.content}}</div>
                <a ng-href="{{feeds.link}}">Read more</a>
            </div>
            <div ui-view></div>
        </div>
        
    </div>





