<div class="main-navbar" ng-controller="NavbarController">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" id="sidebar-toggle" class="navbar-toggle visible-sm visible-xs" ng-click="toggleSidebar()">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" ng-show="isLoggedIn()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <div>
                    <a class="navbar-brand rss" ui-sref="home"><span class="orange">RSS</span>|READER</a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right " ng-show="isLoggedIn()">
                    <li class="dropdown user user-menu hidden-sm">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/assets/images/profile.png" class="user-image" alt="User Image">
                            <span class="hidden-xs" ng-bind="currentUser()"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="/assets/images/profile.png" class="img-circle" alt="User Image">
                                <!-- Image must be square -->
                                <img ng-if='!profile.picture' src="/assets/images/profile.png" class="img-circle" alt="User Image">
                                <img ng-show="profile.picture" src='{{profile.picture}}' class="img-circle" alt="User Image">
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <button href="#" class="btn btn-default btn-flat app-btn-blue" ui-sref="profile">Profile</button>
                                </div>
                                <div class="pull-right">
                                    <button href="#" class="btn btn-default btn-flat app-btn-blue" ng-click="logOut()">Sign out</button>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <div class="grey hidden-sm hidden-md hidden-lg">
                        <li class="user-header ">
                            <div class="row">
                                <div class="col-xs-offset-3 col-xs-6">
                                    <div class="text-center">
                                        <img src="/assets/images/profile.png" width="125" height="125" class="img-circle" alt="User Image">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="user-footer ">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="text-center">
                                        <button href="#" class="btn btn-default btn-flat app-btn-blue" ui-sref="profile">Profile</button>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="text-center">
                                        <button href="#" class="btn btn-default btn-flat app-btn-blue" ng-click="logOut()">Sign out</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>