#views_container {
  border: 1px solid #000000;
  padding-right: 0px !important;
  padding-left: 0px !important; }

.row {
  margin-right: -0px !important;
  margin-left: -0px !important; }

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: 1500px; }

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%; }

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px; }

.add-feed {
  margin-top: 45px;
  padding: 45px;
  box-shadow: 1px 2px 5px 1px #888888; }

.add-feed-btn {
  color: #fff;
  background-color: #42a5f5;
  border-radius: 1px;
  height: 45px;
  border: 0px solid transparent; }

.add-feed-btn:hover {
  background-color: #42a5f5;
  color: #fff; }

.add-feed-btn:focus {
  background-color: #42a5f5;
  color: #fff; }

.article {
  border-bottom: 1px solid gray; }

.article-title {
  font-weight: 600; }

.form-input {
  height: 45px;
  border-radius: 1px; }

.add-feed .control-label {
  padding-top: 14px; }

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px; }
  .row.content {
    height: auto; } }

.list-header {
  border-bottom: 1px solid #888888;
  border-shadow: 1px 2px 5px 1px #888888; }

.table-feed {
  padding: 5px 0px 0px 0px;
  border-bottom: 1px solid #888888;
  border-shadow: 1px 2px 5px 1px #888888; }

.feed-content {
  float: left;
  width: 95%; }

.read {
  width: 5%;
  float: left; }

.read-icon {
  float: right; }

.grid-feed {
  padding: 15px; }

.panel {
  margin-bottom: 0px !important; }

.grid-feed .read-btn {
  margin-top: -5px; }

.grid-feed .title {
  height: 20px;
  overflow: hidden;
  padding-left: 5px; }

.grid-feed .description {
  height: 80px;
  overflow: hidden;
  padding-left: 5px; }

.grid-feed .panel {
  height: 140px; }

.grid-feed .footer {
  height: 30px;
  overflow: hidden;
  padding: 3px 0px 5px 5px; }

.grid-feed .read-icon, .grid-feed .star-icon, .grid-feed .share-icon {
  padding: 5px; }

.grid-feed img {
  height: 130px;
  float: left; }

.grid-feed .panel-body {
  padding: 5px; }

.grid-feed .hidden {
  display: none; }

.grid-feed :hover .hidden {
  display: inline !important; }
