/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
  height: 1500px; }

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%; }

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px; }

.add-feed {
  margin-top: 45px;
  padding: 45px;
  box-shadow: 1px 2px 5px 1px #888888; }

.add-feed-btn {
  color: #fff;
  background-color: #42a5f5;
  border-radius: 3px;
  height: 45px;
  border: 0px solid transparent; }

.add-feed-btn:hover {
  background-color: #42a5f5;
  color: #fff; }

.add-feed-btn:focus {
  background-color: #42a5f5;
  color: #fff; }

.article {
  border-bottom: 1px solid gray; }

.article-title {
  font-weight: 600; }

.form-input {
  height: 45px;
  border-radius: 1px; }

.add-feed .control-label {
  padding-top: 14px; }

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px; }
  .row.content {
    height: auto; } }

.list-header {
  border-bottom: 1px solid #888888;
  border-shadow: 1px 2px 5px 1px #888888; }

.table-feed {
  padding: 5px 0px 0px 0px;
  border-bottom: 1px solid #888888;
  border-shadow: 1px 2px 5px 1px #888888; }

.feed-content {
  float: left;
  width: 95%; }

.read {
  width: 5%;
  float: left; }

.read-icon {
  float: right; }

.grid-feed {
  padding: 15px; }

.panel {
  margin-bottom: 0px !important; }

.grid-feed .read-btn {
  margin-top: -5px; }

.grid-feed .title {
  height: 20px;
  overflow: hidden;
  padding-left: 5px; }

.grid-feed .description {
  height: 80px;
  overflow: hidden;
  padding-left: 5px; }

.grid-feed .panel {
  height: 140px; }

.grid-feed .footer {
  height: 30px;
  overflow: hidden;
  padding: 3px 0px 5px 5px; }

.grid-feed .read-icon, .grid-feed .star-icon, .grid-feed .share-icon {
  padding: 5px; }

.grid-feed img {
  height: 130px;
  float: left; }

.grid-feed .panel-body {
  padding: 5px; }

.grid-feed .hidden {
  display: none; }

.grid-feed :hover .hidden {
  display: inline !important; }

/**/
img {
  width: 1em; }

.toggle-btn-container {
  position: absolute;
  width: 40px; }
  .toggle-btn-container #menu-toggle {
    position: absolute;
    z-index: 1001;
    border: 0px solid transparent;
    border-radius: 1px; }

#allFeeds > .all-text {
  padding-left: 5px; }

.main-navbar .navbar {
  background: #3949ab;
  border-radius: 0px;
  margin: 0px; }

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  color: #fff; }

.navbar-brand span, .header span {
  color: #f8ad86; }

body {
  overflow-x: hidden; }

#all {
  background-color: #e8e8e8; }

#items {
  padding-left: 30px; }

#addFeed {
  padding: 20px 20px 400px; }

#toggleBtn {
  padding: 5px;
  margin: inherit; }

.navbar-nav > .user-menu .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px; }

.sidebar-nav li div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; }

@media (max-width: 768px) {
  .navbar-nav > .user-menu .user-image {
    float: none;
    margin-right: 0;
    margin-top: -8px;
    line-height: 10px; } }

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center; }

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2); }

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
  z-index: 5;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  margin-top: 10px; }

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
  display: block;
  font-size: 12px; }

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  background-color: #f9f9f9;
  padding: 10px; }

.navbar-nav > .user-menu > .dropdown-menu > .user-footer:before,
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
  content: " ";
  display: table; }

.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
  clear: both; }

.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
  color: #666666; }

@media (max-width: 991px) {
  .navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default:hover {
    background-color: #f9f9f9; } }

/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  margin-top: 0;
  overflow-y: auto;
  background: #e8e8e8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 290px; }

#page-content-wrapper {
  width: 100%;
  position: absolute; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 10px;
  line-height: 40px; }

.sidebar-nav ul {
  list-style-type: none; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #000000; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > #allFeeds {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > #allFeeds a {
  color: #000000; }

.sidebar-nav > #allFeeds a:hover {
  color: #fff;
  background: none; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px; }
  #wrapper.toggled {
    padding-left: 0; }
  #sidebar-wrapper {
    width: 250px; }
  #wrapper.toggled #sidebar-wrapper {
    width: 0; }
  #page-content-wrapper {
    padding: 0;
    position: relative; }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

body {
  background: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  min-width: 500px; }

/*==================================Navbar=============================*/
.main-navbar .navbar {
  background: #3949ab;
  border-radius: 0px; }

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 60px;
  color: #fff; }

.navbar-brand span, .header span {
  color: #f8ad86; }

/*================================Loginform=============================*/
h2.header {
  margin-left: 15%;
  margin-bottom: 30px;
  font-weight: 700; }

.loginform-border {
  margin-top: 25px;
  padding: 20px 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px; }

.form-group.login {
  height: 90px;
  margin-bottom: 0;
  position: relative; }

form .form-group:nth-child(2) {
  height: 85px; }

.form-group.login label.error {
  margin-top: 3px;
  color: #af5050;
  float: right;
  margin-bottom: 0; }

.checkbox.margin {
  margin-top: 4px; }

a.pass {
  float: right; }

.errormsg {
  color: #af5050;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  /*visibility: hidden;*/ }

.signup p {
  text-align: center;
  margin-top: 5px; }

/*==================================Button==========================*/
.my-btn {
  margin-left: 28%;
  margin-top: 20px;
  background: #42a5f5;
  border: none;
  color: #fff;
  height: 40px;
  width: 45%;
  margin-bottom: 15px;
  transition: all 0.2s ease; }
  .my-btn :hover {
    background: #3949ab;
    /*background: #0d71a2;*/
    color: #fff;
    border: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.76); }

/*==================================Links============================*/
.links a {
  float: right; }

.links img {
  width: 50px;
  margin-bottom: 15px; }

.links img:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.76); }

.divder {
  height: 113px;
  margin: 0;
  border-right: 1px solid #42a5f5;
  padding: 0; }

.divder + span {
  font-weight: bold;
  margin-left: 4px; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .checkbox {
    font-size: 13px; }
  .divder + span {
    margin-left: -10px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .links img {
    width: 35px; }
  .links {
    text-align: center; }
  .checkbox {
    font-size: 16px; }
  .links a {
    float: none; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .my-btn {
    margin-left: 0;
    width: 100%; } }

#views_container {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.row {
  margin-right: 0px !important;
  margin-left: 0px !important; }

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important; }
