body {
  overflow-y: auto; }

#heading_container {
  background-color: #7FB2F0;
  border-radius: 75px 20px 75px 20px; }
  #heading_container h1 {
    color: #ffffff; }

#panel {
  border: none; }
  #panel #panel_body {
    border: none; }

#panel_heading {
  background-color: #ADD5F7;
  color: #ffffff;
  border-radius: 30px 30px;
  border: none; }

#panel_heading:hover {
  background-color: #4E7AC7; }

#table_container {
  border: 1px solid #ADD5F7;
  color: #4E7AC7; }
  #table_container #table_subject {
    background-color: #ADD5F7;
    color: #000000; }
  #table_container .selected_date {
    color: #000000; }
  #table_container #back_btn {
    margin: 10% 0 5% 0; }

#group_description {
  color: #4E7AC7; }

.custom_btn {
  background-color: #7FB2F0;
  color: #ffffff; }

#amount_heading {
  color: #7FB2F0; }
  #amount_heading .subject_info {
    color: #4E7AC7; }

#calendar_container {
  border: 1px solid #ADD5F7; }

#table_container:hover, #calendar_container:hover {
  border: 2px solid #ADD5F7; }

#select_box {
  text-align: center;
  text-align-last: center; }
