<div class="row text-center">
    <div class="col-sm-offset-2"></div>
    <div class="col-sm-offset-2 col-sm-8">
        <div>
            <h2 id="group_description">{{element.description}}</h2>
            <h3>Selected date is: <em>{{dt | date:'fullDate' }}</em></h3>
            <div style="display:inline-block; min-height:290px;">
            <uib-datepicker ui-sref="groups.groupsCalendar.table({tableID : element.id})"
                                ng-model="dt" class="well well-sm" datepicker-options="options"
                            ng-model="dt" class="well well-sm" datepicker-options="options">
            </uib-datepicker>
            </div>
        </div>
        <input type='text' ng-model='search_subject' placeholder="Entre subject name">
        <button class="btn btn-info" ng-click='passingData()'>Show hours</button>
        <h4>Ammount hours of entered subject <span id='subject_name'>{{subject}}</span> is: <strong>{{counter}}</strong></h4>
        <span class="hide" ng-bind='element.days'></span>
        <hr>
        <div ui-view></div>
    </div>
</div>


