<div class="row text-center">
    <div class="col-sm-offset-2"></div>
    <div class="col-sm-offset-2 col-sm-8">
        <div id="calendar_container">
            <h2 id="group_description" ng-bind="element.description"></h2>
            <h4>Selected date is: <em class="subject_info" ng-bind="dt | date:'fullDate'"></em></h4>
            <div style="display:inline-block; min-height:290px;">
            <uib-datepicker ui-sref="groups.groupsCalendar.table({tableID : element.id})"
                                ng-model="dt" class="well well-sm" datepicker-options="options">
            </uib-datepicker>
            </div>
        </div>
        <br>
        <label>Choose a subject</label>
        <br>
        <select id="select_box" class="form-control" ng-selected="passingData()" ng-model="selected_value">
            <option ng-repeat="lesson in element.lessons" value="{{lesson}}">{{lesson}}</option>
        </select>
        <hr>
        <h4 id="amount_heading">Amount hours of entered subject <span class='subject_info' ng-bind="subject"></span> is:
            <strong class="subject_info">{{counter}} hours</strong></h4>
        <div ui-view></div>
    </div>
</div>


