<div class="container">
    <div class="row">
        <h2 id="table_caption">Schedule Group 1</h2>
        <div class="col-sm-12">
            <table id="schedule_table" class="table table-bordered table-responsive table-hover">
                <thead id="table_heading">
                <tr>
                    <th>Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
                </thead>
                <tbody id="table_body">
                    <tr>
                        <td>09:00 AM</td>
                        <td class="color_cell">Some Subject</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="color_cell">Some subject</td>
                    </tr>
                    <tr>
                        <td>10:00 AM</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="color_cell">Some subject</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11:00 AM</td>
                        <td></td>
                        <td></td>
                        <td class="color_cell">Some subject</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>12:00 AM</td>
                        <td></td>
                        <td></td>
                        <td class="color_cell">Some subject</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>13:00 AM</td>
                        <td></td>
                        <td></td>
                        <td class="color_cell">Some subject</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>14:00 AM</td>
                        <td></td>
                        <td></td>
                        <td class="color_cell">Some subject</td>
                        <td></td>
                        <td class="color_cell">Some subject</td>
                    </tr>
                    <tr>
                        <td>15:00 AM</td>
                        <td></td>
                        <td></td>
                        <td class="color_cell">Some subject</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>16:00 AM</td>
                        <td></td>
                        <td class="color_cell">Some subject</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>17:00 AM</td>
                        <td class="color_cell">Some subject</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="color_cell">Some subject</td>
                    </tr>
                    <tr>
                        <td>18:00 AM</td>
                        <td></td>
                        <td class="color_cell">Some subject</td>
                        <td></td>
                        <td></td>
                        <td class="color_cell">Some subject</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>