<div class='row'>
	<h1>Forgot password</h1>
	<hr>
	<form class="forgot_from" ng-validate="validationLoginOptions">
		<div class="form-group">
			<div class="col-sm-4">
				<label class="forgot_label control-label">Enter your email to confirm reset password</label>
				<input class='form-control forgot col-sm-3' type="email" name="email" ng-model='confirm_email.email' placeholder="jacksparrow@gmail.com" required>
				<input class="btn btn-primary app-btn-blue form-control col-sm-2 " type="button" ng-click='forgot()' value="Reset Password">
			</div>
		</div>
	</form>
</div>
	
