<div class="col-xs-12 col-md-offset-3 col-md-6">
	<div class="cstmform-border profile">
		<h2 class="header">
			<span class="orange">Your</span>
		|Profile
		</h2>
		<form name="upload_form">
			<div class="form-group profile" ng-show="currentUser().displayName">
				<div class="row">
					<label class="col-xs-5 capitalize">User Name:</label>
					<div class="col-xs-7">
						<input class="form-control" type="text" ng-model="currentUser().displayName" disabled>
					</div>
				</div>
			</div>
			<div class="form-group profile" ng-show="currentUser().date_of_signup">
				<div class="row">
					<label class="col-xs-5 capitalize">Date of Signup:</label>
					<div class="col-xs-7">
						<span class="form-control" type="text" ng-bind="currentUser().date_of_signup | date : 'medium'" disabled></span>
					</div>
				</div>
			</div>
			<div class="form-group profile">
				<div class="row">
					<label class="col-xs-5 capitalize">your email:</label>
					<div class="col-xs-7">
						<input class="form-control" type="text" ng-model="currentUser().email" disabled>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-xs-5">
						<img  ng-hide="!currentUser().avatar" ng-src="{{currentUser().avatar}}" class="img img-thumbnail img-size" name="image" alt="User Image">
						<img ng-show="!currentUser().avatar" class="img img-thumbnail img-size" alt='user picture' ng-src='{{currentUser().picture}}' src="/assets/images/profile.png">
					</div>
					<div class="col-xs-7">
						<input type="text" class="form-control" value="{{file.name}}" name="" disabled>
						<div class="file-upload btn btn-md app-btn-blue text-uppercase upload">
							<label>
								<input type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="1MB">
								<span class="text-uppercase">Upload avatar</span>
							</label>
						</div>
						<br>
						<button type="submit" ng-click="submit()" class="btn btn-md app-btn-blue text-uppercase ">accept</button>
						<i ng-show="upload_form.file.$error.required">*required</i>
						<br>
						<i class="error-msg" ng-show="upload_form.file.$error.maxSize">File too large 
							{{file.size / 1000000|number:1}}MB: max 1M</i>
					</div>
				</div>
			</div>
		</form>
		<hr>
		<div class="row">
			<div class="col-xs-12 no-margin">
				<button class="btn btn-md app-btn-blue text-uppercase pull-right social_btn" ng-click="showChangepwd = !showChangepwd">change password</button>
			</div>
		</div>
		<form name="changePassForm" class="fade-in-anim" ng-submit="changePass(changePassForm)" ng-validate="changePassValidation" ng-show="showChangepwd">
			<div class="form-group change-pass">
				<div class="row">
					<label class="col-sm-5 capitalize" for="currentPassword">current password:</label>
					<div class="col-sm-7">
						<input name="currentPassword" id="currentPassword" class="form-control" type="password" ng-model="newUserData.currentPass">
					</div>
				</div>
			</div>
			<div class="form-group change-pass">
				<div class="row">
					<label class="col-sm-5 capitalize" for="newPassword">new password:</label>
					<div class="col-sm-7">
						<input name="newPassword" id="newPassword" class="form-control" type="password" ng-model="newUserData.newPass" ng-required>
					</div>
				</div>
			</div>
			<div class="form-group change-pass">
				<div class="row">
					<label class="col-sm-5 capitalize" for="repeatNewPassword">confirm password:</label>
					<div class="col-sm-7">
						<input name="repeatNewPassword" id="repeatNewPassword" class="form-control" type="password" ng-model="newUserData.newPassRepeat" ng-required pw-check="newPassword">
						<span class="msg-error" ng-show="changePassForm.repeatNewPassword.$error.pwmatch">
							Passwords does't match</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="save-reset">
						<button type="submit" class="btn btn-default btn-md  app-btn-blue text-uppercase">save</button>
						<button type="reset" class="btn btn-default btn-md  app-btn-blue text-uppercase">reset</button>
					</div>
				</div>
			</div>
			<div class="alert alert-danger text-center animate-error" role="alert" ng-show="err">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				<span ng-bind="err.message"></span>
			</div>
		</form>
		<div class="row">
			<div class="col-xs-12">
				<button  class="btn btn-md btn-danger text-uppercase social_btn" ng-if="currentUser().facebook" ng-click="unlink('facebook')"> Unlink Facebook
				</button>
				<button class="btn btn-md app-btn-blue social_btn " ng-if="!currentUser().facebook" ng-click="link('facebook')"> Link Facebook
				</button>
				<button  class="btn btn-md btn-danger text-uppercase social_btn" ng-if="currentUser().google" ng-click="unlink('google')"> Unlink Google
				</button>
				<button class="btn btn-md app-btn-blue social_btn" ng-if="!currentUser().google" ng-click="link('google')"> Link Google
				</button>
				<button  class="btn btn-md btn-danger text-uppercase social_btn" ng-if="currentUser().twitter" ng-click="unlink('twitter')"> Unlink Twitter
				</button>
				<button class="btn btn-md app-btn-blue social_btn" ng-if="!currentUser().twitter" ng-click="link('twitter')"> Link Twitter
				</button>
				<button  class="btn btn-md btn-danger text-uppercase social_btn" ng-if="currentUser().linkedin" ng-click="unlink('linkedin')"> Unlink Linkedin
				</button>
				<button class="btn btn-md app-btn-blue social_btn" ng-if="!currentUser().linkedin" ng-click="link('linkedin')"> Link Linkedin
				</button>
			</div>
		</div>
	</div>
</div>
