<div class="col-xs-12 col-md-offset-3 col-md-6">

    <!--<h2 class="header">-->
    <!--<span>RSS</span>|READER-->
    <!--</h2>-->
    <form ng-submit="changePass()">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change your password</h4>
                </div>
                <div class="modal-body">

                    <label class="col-sm-4" for="currentPassword">Your password:</label>
                    <div class="col-sm-6">
                        <input id="currentPassword" type="password" ng-model="newUserData.current">
                    </div>

                    <label class="col-sm-4" for="newPassword">New password:</label>
                    <div class="col-sm-6">
                        <input id="newPassword" type="password" ng-model="newUserData.new">
                    </div>

                    <label class="col-sm-4" for="repeatPassword">Repeat password:</label>
                    <div class="col-sm-6">
                        <input id="repeatPassword" type="password" ng-model="newUserData.newRepeat">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
<!--     <form class="form-horizontal col-xs-12" name="profile" id="profileSettings">
        <div id="panelProfile" class="panel panel-default col-xs-12">
            <div class="panel-heading">
                <div class="profile-view" ng-repeat="step in file">
                <img class="user-image" ng-src="{{step}}" alt="User Image">
                <span class="hidden-xs" ng-bind="currentUser()"></span>
                </div>
            </div>
    
    
            <div class="panel-body">
            <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
            <p class="form-control-static">user.email</p>
            </div>
            </div>
    
    
    
    
    
            <div class="form-group">
            <label class="col-sm-2 control-label" for="addUsername">Username</label>
            <div class="col-sm-10">
            <button class="btn btn-primary" id="addUsername" data-toggle="modal" data-target="#modalUsername" type="button"><span
            class="glyphicon glyphicon-plus"></span> Add username
            </button>
            </div>
            </div>
    
            <div class="form-group">
                <label class="col-sm-2 control-label" for="changePsw">Password</label>
                <div class="col-sm-10">
                    <button class="btn btn-primary" id="changePsw" type="button" data-toggle="modal" data-target="#modalPassword">Change password
                    </button>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="form-group">
                <label class="col-sm-2">Theme</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="layout" ng-options="layout.url as layout.name for layout in layouts" ng-change="updateTheme()"></select>
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <input type="button" class="btn btn-primary" id='save_btn' value="Save  ">
            <span></span>
            <input type="reset" class="btn btn-default" id="cancel_btn" value="Cancel">
        </div>
    </form>
    <form name="upload_form">
        <div class="form-group">
            <div class="col-sm-10">
                <input type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="5MB" />
                <img ng-show="!!file" ngf-thumbnail="file || '/thumb.jpg'" />
                <i ng-show="upload_form.file.$error.required">*required</i>
                <br>
                <i ng-show="upload_form.file.$error.maxSize">File too large
          {{file.size / 1000000|number:1}}MB: max 20M</i>
    
                <button type="submit" ng-click="submit()">submit</button>
            </div>
        </div>
    </form> -->
</div>

<!-- Modals-->
<!-- Modal for add username -->
<!--<div id="modalUsername" class="modal fade modal-lg text-center" role="dialog">-->
<!--<div class="modal-dialog">-->

<!--&lt;!&ndash; Modal content&ndash;&gt;-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--<h4 class="modal-title">Change your username</h4>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<label class="col-sm-4" for="newUsername">Username:</label>-->
<!--<div class="col-sm-6">-->
<!--<input id="newUsername" type="text">-->
<!--</div>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-success" data-dismiss="modal">Save  </button>-->
<!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!-- Modal for change password-->
<div id="modalPassword" class="modal fade modal-lg text-center" role="dialog">
    <div class="modal-dialog">
        <form ng-submit="changePass()">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change your password</h4>
                </div>
                <div class="modal-body">

                    <label class="col-sm-4" for="currentPassword">Your password:</label>
                    <div class="col-sm-6">
                        <input id="currentPassword" type="password" ng-model="newUserData.current">
                    </div>

                    <label class="col-sm-4" for="newPassword">New password:</label>
                    <div class="col-sm-6">
                        <input id="newPassword" type="password" ng-model="newUserData.new">
                    </div>

                    <label class="col-sm-4" for="repeatPassword">Repeat password:</label>
                    <div class="col-sm-6">
                        <input id="repeatPassword" type="password" ng-model="newUserData.newRepeat">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>