<div class="container">
    <div class=" text-center panel-group" id="accordion">
      <div ng-repeat="element in groupsData" class="panel panel-default">
        <div  class="panel-heading">
          <h4 ui-sref="groups.groupsCalendar({groupsCalendarID : element.id})" class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{element.id}}"
               ng-bind='element.description'></a>
          </h4>
        </div>
        <div id="{{element.id}}" class="panel-collapse collapse out">
          <div class="panel-body">

            You selected : <span id="selected_group" ng-bind="element.id"></span>

            <div class="container text-center">
              <div ui-view></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>































<!--

<div class="container">
    <div ng-repeat='element in groupsData'>
        <div class="well" id="heading_box">
            <h1 class="text-center bg-info">Schedule groups page</h1>
        </div>
        <br>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="oneAtATime">
                Open only one at a time
            </label>
        </div>
        <br>
        <uib-accordionclass="text-center" close-others="oneAtATime">
            <uib-accordion-group ng-bind='element.id'  id="{{element.description + $index}}" class="bg-info"  heading="{{element.description}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
        
                <div ui-view></div>        
                
            </uib-accordion-group>
        </uib-accordion>
    </div>
</div>

-->
