<div class="panel panel-default">
      <div class="panel-body">
        <div ng-controller="AccordionDemoCtrl">
          <accordion>
            <accordion-group heading="Static Header - Works">
              This content is straight in the template.
              <div ng-controller="DatepickerDemoCtrl">
                <div class="form-horizontal">
                  <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
                  <button class="btn" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>
              </div>
              Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis.
            </accordion-group>
            <accordion-group heading="Dynamic Body Content - Works">
              <p>The body of the accordion group grows to fit the contents</p>
              <div ng-controller="DatepickerDemoCtrl">
                <div class="form-horizontal">
                  <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
                  <button class="btn" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>
              </div>
              Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna.
            </accordion-group>
            <accordion-group heading="Body Content With row and col - Not displayed correctly">
              <p>Below is a row and col</p>
              <div class="row"> 
                <div class="col-lg-12">
                  <div ng-controller="DatepickerDemoCtrl">
                    <div class="form-horizontal">
                      <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
                      <button class="btn" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </div>
                  </div>    
                </div> 
              </div>
              Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna.
            </accordion-group>
          </accordion>
        </div>          
      </div>
    </div>