<!--Table feeds-->
<div class="row feeds">
    <div class="col-md-12">
        <div class="row table-feed">
            <div class="col-md-2">
                <p>Lorem ipsum</p>
            </div>
            <div class="col-md-10">
                <p>
                    <strong>
                        Lorem ipsum dolor sit amet, dicta ornatus consectetuer no eam, quo vitae tollit id,
                        idque nostrud definitionem id cum.
                    </strong>
                </p>
                <p>
                    Lorem ipsum dolor sit amet, dicta ornatus consectetuer no eam, quo vitae tollit id,
                    idque nostrud definitionem id cum. Ad sit hinc ocurreret.
                </p>
            </div>
        </div>
    </div>
</div>