<!--Grid feeds-->
<div class="row feeds">
    <div class="col-md-6 grid-feed">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="images/test.jpg" class="img-responsive" alt="Test img">
                    <div class="content">
                        <div class="title">
                            <p>
                                <strong>
                                    Lorem ipsum dolor sit amet, dicta ornatus consectetuer no eam, quo vitae tollit id,
                                    idque nostrud definitionem id cum.
                                </strong>
                            </p>
                        </div>
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, dicta ornatus consectetuer no eam, quo vitae tollit id,
                                idque nostrud definitionem id cum. Ad sit hinc ocurreret.
                            </p>
                        </div>
                        <div class="footer">
                            <div class="share">
                                <span class="hidden">
                                    <button type="button" class="btn btn-info btn-xs read-btn">READ</button>
                                    <span class="star-icon glyphicon glyphicon-star"></span>
                                    <span class="share-icon glyphicon glyphicon-share"></span>
                                </span>
                                <span class="read-icon glyphicon glyphicon-ok"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-feed">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="images/test.jpg" class="img-responsive" alt="Test img">
                    <div class="content">
                        <div class="title">
                            <p>
                                <strong>
                                    Lorem ipsum dolor sit amet, dicta ornatus consectetuer no eam, quo vitae tollit id,
                                    idque nostrud definitionem id cum.
                                </strong>
                            </p>
                        </div>
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, dicta ornatus consectetuer no eam, quo vitae tollit id,
                                idque nostrud definitionem id cum. Ad sit hinc ocurreret.
                            </p>
                        </div>
                        <div class="footer">
                            <div class="share">
                                <span class="hidden">
                                    <button type="button" class="btn btn-info btn-xs read-btn">READ</button>
                                    <span class="star-icon glyphicon glyphicon-star"></span>
                                    <span class="share-icon glyphicon glyphicon-share"></span>
                                </span>
                                <span class="read-icon glyphicon glyphicon-ok"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-feed">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="images/test.jpg" class="img-responsive" alt="Test img">
                    <div class="content">
                        <div class="title">
                            <p>
                                <strong>
                                    Lorem ipsum dolor sit amet, dicta ornatus consectetuer no eam, quo vitae tollit id,
                                    idque nostrud definitionem id cum.
                                </strong>
                            </p>
                        </div>
                        <div class="description">
                            <p>
                                Lorem ipsum dolor sit amet, dicta ornatus consectetuer no eam, quo vitae tollit id,
                                idque nostrud definitionem id cum. Ad sit hinc ocurreret.
                            </p>
                        </div>
                        <div class="footer">
                            <div class="share">
                                <span class="hidden">
                                    <button type="button" class="btn btn-info btn-xs read-btn">READ</button>
                                    <span class="star-icon glyphicon glyphicon-star"></span>
                                    <span class="share-icon glyphicon glyphicon-share"></span>
                                </span>
                                <span class="read-icon glyphicon glyphicon-ok"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>