<!--Grid feeds-->
<div id="cards-wrapper" class="desktop-grow clearfix feeds">
	<div class="col-md-12 col-lg-6" ng-repeat="article in getArticles() | orderBy:getSortParam().type:getSortParam().order">
		<div class="app-panel fade-in-anim">
			<img class="img-responsive article-img" ng-show="article.img" ng-src="{{article.img}}" alt="Article image">
			<div class="content">
				<div class="article-title">
					<a ng-href="{{article.link}}" target="_blank"><img class="favicon" ng-src="{{article.link|favicon}}"><span ng-bind="article.title"></span></a>
				</div>
				<div class="article-content hide-mobile">
					<span ng-bind="article.content"></span>
				</div>
				<div class="footer">
					<span class="my-hidden">
						<button type="button" class="app-btn app-btn-blue read-btn hide-desktop" ng-click="readArticle(article)" target="_blank">
							read
						</button>
						<span class="article-fav-icon glyphicon glyphicon-star extra-btn onhover-orange" ng-click="addFavourite(article)" ng-hide="isFavourites()"></span>
						<span class="article-footer-item fa fa-share-alt extra-btn onhover-green" ng-click="share(article)" uib-popover-template="'partials/modals/sharing.html'" popover-placement="bottom"></span>
					</span>
					<span class="trash-icon glyphicon glyphicon-trash extra-btn onhover-red" ng-show="isFavourites()" ng-click="removeFavourite(article)"></span>
					<span class="article-date" ng-bind="getArticleDate(article.date)"></span>
					<span class="article-time-icon glyphicon glyphicon-time"></span>
				</div>
			</div>
		</div>
	</div>
	<modal show='modalShown'>
		<h4 class="uppercase">add to favourites</h4>
		<div class="modal-row">
			<select id="category"
					class="form-control form-input"
					ng-model="obj.category"
					ng-options="category for category in categories()"
					ng-change="checkIfNew()"
					uib-tooltip="To enter custom category choose 'custom'"
					tooltip-trigger="'focus'"
					tooltip-placement="right">
				<option value="" disabled selected hidden>Choose</option>
			</select>
		</div>
		<div class="modal-row">
			<input id="new-category" class="form-control form-input fading-anim" placeholder="Enter category name" ng-model="newCatObj.category" ng-show="addingNewFavCategory" maxlength="25">
			</input>
		</div>
		<div class="modal-row">
			<div class="center-children">
				<button type="button" class="app-btn app-btn-blue" aria-label="Justify" ng-click="confirmAddFavourite()">confirm</button>
			</div>
		</div>
		<div class="modal-row">
			<div class="alert alert-danger text-center fading-anim" role="alert" ng-show="error">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				<span ng-bind="error"></span>
			</div>
		</div>
	</modal>
</div>