$modal-background-color: white;

.modal-window {
    z-index: 1000;
    position: fixed;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    h4 {
        text-align: center;
    }
}

.modal-content {
    border-radius: $main-border-radius;
    color: black;
    background-color: $modal-background-color;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: $main-app-padding;
    text-align: left;

    .app-btn-blue {
        margin-top: 1em;
    }
}

.hide-modal-btn {
    cursor: pointer;
    position: absolute;
    top: $main-app-padding;
    right: $main-app-padding;
    color: black;
    z-index: 999;
}

.modal-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    transition: opacity $fadeTime ease;
}

.modal-overlay.ng-hide {
    opacity: 0;
}

.modal-overlay.ng-hide-remove, .modal-overlay.ng-hide-add {
    transition: opacity $fadeTime ease;
}

.modal-window.ng-hide-remove {
    animation: $fadeTime slideDownModal;
}

.modal-window.ng-hide-add {
    animation: $fadeTime slideUpModal;
}

@media screen and (max-width: $phone-res) {
    .modal-window {
        width: 100%;
        padding-right: 1em;
        padding-left: 1em;
    }

    .hide-modal-btn {
        right: $main-app-padding*2;
    }
}
