$toaster-height: 70px;
$toaster-background-color: #5f5f5f;
$fadeTime: 0.3s;
.toaster{
}
.toaster-window {
    border-radius: $main-border-radius;
    z-index: 1000;
    position: fixed;
    width: 400px;
    height: $toaster-height;
    top: 50px;
    right: 0px;
    background-color: $toaster-background-color;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.toaster-content {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: $main-app-padding;
    text-align: left;
}

.toaster-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}


.toaster-window.ng-hide-remove {
    animation: $fadeTime slideDown;
}

.toaster-window.ng-hide-add {
    animation: $fadeTime slideUp;
}

@keyframes slideDown {
    0% {
        top: -$navbar-height + $toaster-height;
        opacity: 0;
    }

    100% {
        top: $navbar-height;
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        top: $navbar-height;
        opacity: 1;
    }

    100% {
        top: -$navbar-height + $toaster-height;
        opacity: 0;
    }
}

@keyframes slideDownMobile {
    0% {
        bottom: 0;
        opacity: 1;
    }

    100% {
        bottom: -$toaster-height;
        opacity: 0;
    }
}

@keyframes slideUpMobile {
    0% {
        bottom: -$toaster-height;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .toaster-window {
        width: 100%;
        top: auto;
        bottom: 0;
        left: 0px;
    }

    .toaster-window.ng-hide-remove {
        animation: $fadeTime slideUpMobile;
    }

    .toaster-window.ng-hide-add {
        animation: $fadeTime slideDownMobile;
    }
}
