.article {
	border-bottom: 1px solid gray;
}

.article-title {
	font-weight: 600;
}

.form-input {
	height: 45px;
	border-radius: $main-border-radius;
}

.add-feed .control-label {
	padding-top: 14px;
}