.add-feed {
  margin-top: 45px;
  padding: 45px;
  box-shadow: 1px 2px 5px 1px #888888;
}

.article {
  border-bottom: 1px solid gray;
}

.article-title {
  font-weight: 600;
}

.form-input {
  height: 45px;
  border-radius: 1px;
}

.add-feed .control-label {
  padding-top: 14px;
}

.add-feed-btn {
  color: #fff;
  background-color: $blue-btn-color;
  border-radius: 3px;
  height: 45px;
  border: 0px solid transparent;
  &:hover {
    background-color: $blue-btn-color;
    color: #fff;
  }
  &:focus {
    background-color: $blue-btn-color;
    color: #fff;
  }
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }

}