$colorGray: #888;

#article-page {
	padding: $main-app-offset;
}

.article-image {
	width: 100%;
	max-width: 500px;
}

.article-row{
	margin-top: $main-app-offset;
}

.article-page-time-icon {
	margin-right: $main-app-offset/2;
	line-height: $main-app-offset*2;
	color: $colorGray;
	padding: 0;
}

.article-page-date {
	left: $main-app-offset/2;
	line-height: $main-app-offset*2;
	color:$colorGray;
	padding: 0;
}