/*================================Loginform=============================*/

h2.header {
	margin-bottom: 30px;
	font-weight: 700;
	text-align: center;
}

.animate-error {
	position: relative;
	animation: animatetop 1s;
	width: 70%;
	margin: 10px auto 0;
}

input.ng-pristine + #strength {
	display:none;
}

ul#strength {
	display:inline;
	list-style:none;
	margin:0;
	margin-top: 10px;
	padding:0;
	vertical-align:2px;
}

.point {
	background:#DDD;
	border-radius:2px;
	display:inline-block;
	height:5px;
	margin-right:1px;
	width:20px;
	&:last {
		margin:0 !important;
	}
}

#footer {
	position:fixed;
	bottom:5px;
}

.cstmform-border {
	margin-top: $main-app-offset;
	margin-bottom: $main-app-offset;
	padding: 20px 10% 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	@media screen and (max-width: 768px){
		padding: 1em;
	}
}

.form-group.login {
	height: 90px;
	margin-bottom: 0;
	position: relative;
}

#login .form-group:nth-child(2) {
	height: 90px;
}

.form-group.login label.error {
	margin-top: 3px;
	color: #af5050;
	float: right;
	margin-bottom: 0;
	font-size: 14px;
}

.checkbox.margin {
	margin-top: 4px;
	margin-bottom: 20px;
}

a.pass {
	float: right;
}

.msg-error {
 margin-top: 3px;
	color: #af5050;
	float: right;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: bold;
}

.signup>p {
	text-align: center;
	margin-top: 5px;
}

.register {
	text-align: center;
	margin-top: 20px;
}


/*==================================Links============================*/

.links a {
	float: right;
}

.links img {
	width: 50px;
	margin-bottom: 15px;
}

.divder {
	height: 113px;
	margin: 0;
	border-right: 1px solid #42a5f5;
	padding: 0;
}

.divder+span {
	font-weight: bold;
	margin-left: 4px;
}