.app-btn {
    border: none;
    border-radius: $main-border-radius;
    transition: $app-transition;
    cursor: pointer;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.76);
    text-transform: uppercase;

    &:hover {
        background-color: black;
        color: white;
        border: none;
        transition: $app-transition;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.76);
    }

    &:active {
        transition: $app-transition;
        border: none;
        outline: none;
    }
}
.social_btn {
	margin: 5px 0 30px 0;
}

.app-btn-blue {
    @extend .app-btn;
    color: white;
    background-color: $blue-btn-active-color;
    outline: none;

    &:visited {
        color: white;
        background-color: $blue-btn-active-color;
    }

    &:hover {
        color: black;
        background-color: white;
        transition: $app-transition;

        a {
            color: black;
        }
    }

    &:active {
        outline: none;
        color: white;
        background-color: $blue-btn-active-color;
    }
}

.app-btn-feed-list {
    font-size: 1em;
    padding: 10px;
    top: 0;
    margin-bottom: 0;
    border: none;
    border-radius: $main-border-radius;
    transition: $app-transition;
    cursor: pointer;

    &:visited {
        border: none;
    }

    &:hover {
        border: none;
        transition: $app-transition;
    }

    &:active {
        border: none;
    }
}

.app-btn-feed-list.selected {
    background-color: #cecece;
}

.read-btn {
    width: 7em;
    padding: 0.3em;
    margin-right: $main-app-padding;
}

.app-btn-delete {
    font-size: 1em;
    padding: 15px;
    border: none;
    border-radius: $main-border-radius;
    transition: $app-transition;
    cursor: pointer;

    &:visited {
        border: none;
    }

    &:hover {
        background-color: $delete-btn-color;
        color: white;
        border: none;
        transition: $app-transition;
    }

    &:active {
        border: none;
    }
}

span.extra-btns {
    cursor: pointer;
    transition: $app-transition;

    &:hover {
        transition: $app-transition;
    }

    &:active {
        transition: $app-transition;
        transform: scale(1.5, 1.5);
    }
}

.onhover-orange {
    @extend .extra-btns;
    color: black;

    &:hover {
        color: #ff9d00;
    }

    &:active {
        color: #e2ff00;
    }
}

.onhover-red {
    @extend .extra-btns;
    color: black;

    &:hover {
        color: #ff6c00;
    }

    &:active {
        color: #ff0000;
    }
}

.onhover-green {
    @extend .extra-btns;
    color: black;

    &:hover {
        color: #00ffb1;
    }

    &:hover {
        color: #00ff62;
    }
}

.onhover-blue {
    @extend .extra-btns;
    color: black;

    &:hover {
        color: $blue-btn-active-color;
    }

    &:hover {
        color: $blue-btn-active-color;
    }
}

.app-btn-toaster {
    border: none;
    border-radius: $main-border-radius;
    background-color: #5f5f5f;
    transition: $app-transition;
    cursor: pointer;
    color: white;
    margin: 0 0.5em 0 0.5em;
    text-transform: uppercase;

    &:hover {
        background-color: #9f9f9f;
        color: white;
        border: none;
        transition: $app-transition;
    }

    &:active {
        background-color: #ad8888;
        transition: $app-transition;
        border: none;
        outline: none;
    }
}

.app-btn-toaster-red {
    @extend .app-btn-toaster;
    color: #eb4e54;
}

a.sharing-btn {
    font-size: 2em;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin: $main-app-padding/3;

    &:hover {
        transition: color 0.3s ease;
        color: #3949ab;
    }
}

.sort-btn{
    @extend .app-btn-feed-list;
    border-radius: $main-border-radius;
    margin-left: $main-app-padding;
}

.sort-item{
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .app-btn-blue {
    }

    .navbar .app-btn-blue {
    }

    .margin {
        margin-bottom: 20px;
    }
}
