#feed-head {
    padding: 15px 15px 0 15px;
    border-bottom: 1px solid #888888;
    background-color: #fff;

    .article-title {
        padding: 0;
    }
}

.change-view-btn {
    padding-bottom: $main-app-padding;
}

.list-header {
    border-bottom: 1px solid #888888;
    border-shadow: 1px 2px 5px 1px #888888;
}

.strong-text {
    font-weight: 700;
}

.table-feed {
    > div > a {
        color: black;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .vertical-center {
        line-height: 3em;
    }

    padding: 1em;
    overflow: hidden;
    cursor: pointer;
    border-bottom: 1px solid #888888;
    border-shadow: 1px 2px 5px 1px #888888;
    transition: $app-transition;

    &:hover {
        transition: $app-transition;
        background-color: #e8e8e8;
    }
}

.feed-content {
    float: left;
    width: 95%;
}

.btn a {
    color: #ffffff;
    text-decoration: none;

    &:hover {
        color: #ffffff;
    }
}

#list, #th-list, #th-large {
    img {
        width: 185px;
        height: 145px;
        border-radius: $main-border-radius;
        float: left;
        margin-right: 1em;
    }

    .app-btn-blue {
        display: black;
    }
}

#th-large {
    padding: $main-app-padding/2;

    [class*=' col-'] {
        padding: $main-app-padding/2;
    }

    .article-title {
        > a {
            color: black;
        }

        margin-bottom: 0.2em;
        font-weight: 700;
        height: 20px;
        overflow: hidden;
    }

    .article-content {
        height: 88px;
        margin-bottom: 0.2em;
        overflow: hidden;
    }

    .app-panel {
        height: 175px;
        margin: 0;
        padding: $main-app-padding;
    }

    .article-footer-item {
        padding-left: $main-app-padding;
        vertical-align: middle;
    }

    .article-fav-icon {
        @extend .article-footer-item;
        padding-left: $main-app-padding;
        padding-right: $main-app-padding;
    }

    .article-time-icon {
        @extend .article-footer-item;
        float: right;
        line-height: $main-app-padding*2;
        color: #888;
        padding: 0;
    }

    .article-date {
        @extend .article-footer-item;
        margin-left: $main-app-padding/2;
        float: right;
        line-height: $main-app-padding*2;
        color: #888;
        padding: 0;
    }

    .trash-icon {
        float: right;
        line-height: $main-app-padding*2;
        margin-left: 1em;
    }

    .panel:hover {
        .my-hidden {
            display: inline;
            visibility: visible;
            opacity: 1;
            transition: opacity 0.2s ease;
        }
    }
}

#th-list {
    @extend #th-large;

    [class*='col-'] {
        padding: $main-app-padding/2;
    }
}

@media screen and (max-width: $phone-res) {
    #th-list img, #th-large {
        .article-title {
            height: 110px;
        }
    }
}

@media screen and (max-width: $tablet-res) {
    #th-list img, #th-large {
        padding: 0;

        img {
            width: 120px;
            height: 95px;
            border-radius: $main-border-radius;
            float: left;
            margin-right: 1em;
        }

        .btn-group > .th-large {
            display: none;
        }
    }
}

@media screen and (max-width: $desktop-res) {
    #th-list img, #th-large {
        .article-fav-icon {
            padding-left: 0;
            padding-right: 0;
            line-height: 2em;
        }

        .panel .my-hidden {
            visibility: visible;
            display: inline;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 1600px) and (min-width: 1200px) {
    #th-large {
        .app-panel {
            height: 225px;
        }

        .article-content {
            height: 113px;
            margin-bottom: 25px;
        }

        .read-btn {
            width: 185px;
        }
    }

    #th-list {
        .app-panel {
            height: 180px;
        }

        .article-content {
            height: 88px;
            margin-bottom: 0.2em;
        }

        .read-btn {
            width: 7em;
        }
    }
}