body {
    background-color: #fff;
}

#all {
    background-color: #e8e8e8;
}

#items {
    padding-left: 30px;
}

#home_container {
    background: url('../assets/images/rss-header.jpg');
    background-size: cover;
    color: white;
    //background: lightgray center fixed;
    //background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    .animatable {
        position: relative;
        padding-top: 10%;
        animation: animatetop 1s;
    }
    .welcometo {
        font-size: 63px;
        margin-bottom: 50px;
        @media screen and (max-width: 768px) {
            font-size: 36px;
        }
    }
}

@media only screen and (min-width: 757px) and (max-width: 1070px) {
    #home_container {
        .welcometo {
            font-size: 43px;
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 757px) {
    #home_container {
        background: url('../assets/images/rss-header.jpg') 80% 100% no-repeat;
        background-size: cover;
        .animatable {
            position: relative;
            padding-top: 2%;
            animation: animatetop 1s;
        }
        .welcometo {
            margin-bottom: 50px;
        }
    }
}