#home_container {
	font-family: 'Roboto', sans-serif;
	background: url('../assets/images/rss-header.jpg');
	background-size: cover;
	color: white;
	//background: lightgray center fixed;
	//background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
	.welcometo {
		font-weight: 300;
		font-size: 63px;
		margin-bottom: 50px;
		@media screen and (max-width: 768px) {
			font-size: 36px;
		}
	}
}