#home {
	font-family: 'Roboto', sans-serif;

	img{
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.76);
	}

	.not-visible {
		visibility: hidden;
	}
}

#home_container {
	background-color: #E2E2E1;
	//background: url('../assets/images/rss-header.jpg');
	background-size: cover;
	color: white;
	//background: lightgray center fixed;
	//background-size: cover;
	width: 100%;
	height: 70%;
	position: relative;
	.welcometo {
		color: black;
		font-weight: 300;
		font-size: 40px;
		margin-bottom: 0.5em;
	}

	.welometo-under{
		color: black;
		font-weight: 300;
		font-size: 20px;
		margin-bottom: 1em;
	}
}

.dashboad-image{
	width: 60em;
	margin-top: 3em;

	img{
		width: 100%;
	}
}

.second-layer{
	padding-top: 20em;
	height: 40em;
	width: 100%;
	background-color: #616161;
	.welcometo-under{
		color: white;
		font-weight: 300;
		font-size: 20px;
		margin-bottom: 1em;
	}
}

.third-layer{
	padding-top: 4em;
	height: 40em;
	width: 100%;
	background-color: #E2E2E1;

	.home-same-height{
		height: 32em;
	}
	.welcometo-under{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: black;
		font-weight: 300;
		font-size: 20px;
		margin-bottom: 1em;
        @media screen and (max-width: 768px){
			display: block;
            position: relative;
		}
	}
}

.fourth-layer{
	padding-top: 4em;
	height: 40em;
	width: 100%;
	background-color: #616161;

	.add-feed-img{
		overflow: hidden;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.76);
	}

	.home-same-height{
		height: 32em;
	}
	.welcometo-under{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		font-weight: 300;
		font-size: 20px;
		margin-bottom: 1em;

		@media screen and (max-width: 768px){
			display: block;
            position: relative;
		}
	}
}