$phone-res: 768px;
$tablet-res: 992px;
$desktop-res: 1200px;

@media screen and (max-width: $desktop-res) {
	.divider + span {
		margin-left: -10px;
	}

	#cards-wrapper {
		.article-fav-icon, .article-footer-icon {
			line-height: 2em;
		}

		.app-panel .my-hidden {
			visibility: visible;
			display: inline;
			opacity: 1;
		}
	}
}

@media screen and (max-width: 1600px) and (min-width: $desktop-res) {
	#cards-wrapper.desktop-grow {
		.app-panel {
			height: 225px;
		}

		.article-content {
			height: 113px;
			margin-bottom: 25px;
		}

		.read-btn {
			width: 115px;
		}
	}
}

@media screen and (min-width: $phone-res) and (max-width: $desktop-res) {
	#home_container {
		.welcometo {
			font-size: 43px;
			margin-bottom: 50px;
		}
	}
}

@media screen and (max-width: $tablet-res) {
	.links {
		text-align: center;
	}

	.checkbox {
		font-size: 16px;
	}

	.links a {
		float: none;
	}

	#sidebar-wrapper {
		animation: 0.3s slideRight ease;
		width: $sidebar-mobile-width;
		box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.76);
	}

	#sidebar ul {
		width: 100%;
	}

	#dashboard #sidebar-wrapper.sidebar-mobile {
		transition: all 0.3s ease;
		left: -$sidebar-mobile-width - 5px;
		animation: 0.3s slideLeft ease;
	}

	.article-img {
		width: 120px;
		height: 95px;
		border-radius: $main-border-radius;
		float: left;
		margin-right: 1em;
	}

	#cards-wrapper {
		padding: 0;
		// Must use !important, because even strong selector do not help.
		// This class is from 3d party library where !important key word was specified.
		div.popover {
			display: flex !important;
			justify-content: center;
			align-content: center;
			top: auto;
			left: 50% !important;
			width: 250px;
			transform: translateX(-50%);
		}

		.btn-group > .th-large {
			display: none;
		}
	}

	#list {
		padding: 0;
		// Must use !important, because even strong selector do not help.
		// This class is from 3d party library where !important key word was specified.
		div.popover {
			display: flex !important;
			justify-content: center;
			align-content: center;
			top: auto;
			width: 250px;
		}
	}

	.navbar-header {
		> .logo_wrapper {
			display: flex;
			justify-content: center;
			align-content: center;
		}
	}

	.container-fluid > .navbar-header > .logo_wrapper > a {
		margin-left: 0;
	}

	.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default:hover {
		background-color: #f9f9f9;
	}

	#sidebar-wrapper {
		animation: 0.3s slideRight ease;
		width: $sidebar-mobile-width;
		box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.76);
	}

	#sidebar ul {
		width: 100%;
	}

	#dashboard #sidebar-wrapper.sidebar-mobile {
		transition: all 0.3s ease;
		left: -$sidebar-mobile-width - 5px;
		animation: 0.3s slideLeft ease;
	}
}

@media screen and (max-width: $phone-res) {
	.add-feed-form{
		margin-top: $main-app-offset/2;
	}
	#add-feed [class*=' col-']{
		padding: 0 $main-app-offset/2 0 $main-app-offset/2;
	}
	.cstmform-border{
		margin: $main-app-offset/2 0 $main-app-offset/2 0;
	}

	#login[class*=' col-'] {
		padding: 0 $main-app-offset/2 0 $main-app-offset/2;
	}

	#register[class*=' col-'] {
		padding: 0 $main-app-offset/2 0 $main-app-offset/2;
	}

	.modal-window {
		width: 100%;
		padding-right: 1em;
		padding-left: 1em;
	}

	.hide-modal-btn {
		right: $main-app-offset*2;
	}

	.app-btn-blue.cswidth {
		margin-left: 0;
		width: 100%;
	}

	.form-group.login label.error {
		font-size: 12px;
	}

	.msg-error {
		font-size: 12px;
	}

	.links img {
		width: 45px;
	}

	.form-group.login input[type=email],
	.form-group.login input[type=password] {
		height: 50px;
	}

	.form-group.login {
		margin-bottom: 10px;
	}

	.header {
		font-size: 1.5em;
	}

	.toaster-window {
		width: 100%;
		top: auto;
		bottom: 0px;
		left: 0px;
	}

	.toaster-wrapper {
		transition: all $fadeTime linear;

		&.ng-enter > .toaster > .toaster-window {
			top: auto;
			animation: $fadeTime slideUpMobile;
		}

		&.ng-leave > .toaster > .toaster-window {
			top: auto;
			animation: $fadeTime slideDownMobile;
			bottom: -300px;
		}
	}

	.form-group.login label.error {
		font-size: 12px;
	}

	.msg-error {
		font-size: 12px;
	}

	.links img {
		width: 45px;
	}

	.form-group.login input[type=email],
	.form-group.login input[type=password] {
		height: 50px;
	}

	.form-group.login {
		margin-bottom: 10px;
	}

	.header {
		font-size: 1.5em;
	}

	#home_container {
		background: url('../assets/images/rss-header.jpg') 80% 100% no-repeat;
		background-size: cover;

		.welcometo {
			margin-bottom: 50px;
		}
	}

	#article-page {
		padding: $main-app-offset/2;
	}

	#cards-wrapper {
		.article-title {
			height: 110px;
		}
	}

	.navbar-nav {
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 0;

		& > .user-menu .user-image {
			float: none;
			margin-right: 0;
			margin-top: -8px;
			line-height: 10px;
		}
	}

	.sidebar-item {
		padding-left: 10px;
	}

	.sidebar-item .sidebar-sub-item {
		padding-left: 20px;
	}
}
