$phone-res: 768px;
$tablet-res: 992px;
$desktop-res: 1200px;

@media screen and (max-width: $desktop-res) {
    .divider + span {
        margin-left: -10px;
    }

    #cards-wrapper {
        .article-fav-icon, .article-footer-icon {
            line-height: 2em;
        }

        .app-panel .my-hidden {
            visibility: visible;
            display: inline;
            opacity: 1;
        }
    }
}

@media screen and (min-width: $desktop-res) {

    .home-same-height {
        height: 15em;
    }

    .adviced-articles-wrapper {
        padding-left: 0;
    }
}

@media screen and (max-width: 1600px) and (min-width: $desktop-res) {
    #cards-wrapper.desktop-grow {
        .app-panel {
            height: 240px;
        }

        .article-content {
            height: 8.7em;
            margin-bottom: 15px;
        }

        .read-btn {
            width: 115px;
        }
    }
}

@media screen and (min-width: $phone-res) and (max-width: $desktop-res) {
}

@media screen and (max-width: $tablet-res) {
    .also-read-header {
        margin-top: 1em;
    }

    .adviced-article-img {
        height: 150px;
    }

    .links {
        text-align: center;
    }

    .checkbox {
        font-size: 16px;
    }

    .links a {
        float: none;
    }

    #sidebar-wrapper {
        animation: 0.3s slideRight ease;
        width: $sidebar-mobile-width;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.76);
    }

    #sidebar {
        ul {
            width: 100%;
        }

        .sidebar-item {
            .my-hidden {
                visibility: visible;
                display: inline;
                opacity: 1;
            }
        }
    }

    #dashboard #sidebar-wrapper.sidebar-mobile {
        transition: all 0.3s ease;
        left: -$sidebar-mobile-width - 5px;
        animation: 0.3s slideLeft ease;
    }

    .article-img {
        width: 120px;
        height: 95px;
        border-radius: $main-border-radius;
        float: left;
        margin: 0 1em 0 0;
    }

    #cards-wrapper {
        padding: 0;
        // Must use !important, because even strong selector do not help.
        // This class is from 3d party library where !important key word was specified.
        div.popover {
            display: flex !important;
            justify-content: center;
            align-content: center;
            top: auto;
            left: 50% !important;
            width: 250px;
            transform: translateX(-50%);
        }

        .btn-group > .th-large {
            display: none;
        }
    }

    #list {
        padding: 0;
        // Must use !important, because even strong selector do not help.
        // This class is from 3d party library where !important key word was specified.
        div.popover {
            display: flex !important;
            justify-content: center;
            align-content: center;
            top: auto;
            width: 250px;
        }
    }

    .navbar-header {
        > .logo_wrapper {
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }

    .container-fluid > .navbar-header > .logo_wrapper > a {
        margin-left: 0;
    }

    .navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default:hover {
        background-color: #f9f9f9;
    }

    #sidebar-wrapper {
        animation: 0.3s slideRight ease;
        width: $sidebar-mobile-width;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.76);
    }

    #sidebar ul {
        width: 100%;
    }

    #dashboard #sidebar-wrapper.sidebar-mobile {
        transition: all 0.3s ease;
        left: -$sidebar-mobile-width - 5px;
        animation: 0.3s slideLeft ease;
    }

    #home_container {
        height: 80%;
    }

    .dashboad-image {
        width: 80%;
    }
}

@media screen and (max-width: $phone-res) {
    .dashboad-image {
        width: 25em;
    }

    .alert-danger-app {
        width: 100%;
    }

    .center-children-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add-feed-form {
        margin-top: $main-app-offset/2;
    }

    .cstmform-border {
        margin: $main-app-offset/2 0 $main-app-offset/2 0;
        padding: $main-app-offset;
    }

    .cstmform-border-profile {
        padding: 0 $main-app-offset $main-app-offset;
    }

    .mobile-half-padding {
        padding: 0 $main-app-offset/2 0 $main-app-offset/2;
    }

    .mobile-zero-padding {
        padding: 0;
    }

    #adviced-feeds-wrapper {
        padding: 0;
    }

    .modal-window {
        width: 100%;
        padding-right: $main-app-offset/2;
        padding-left: $main-app-offset/2;
    }

    .carousel > .modal-window {
        width: 100%;
        height: 25%;
    }

    .carousel > .modal-content {
        padding: $main-app-offset*2;
    }

    .hide-modal-btn {
        right: $main-app-offset*2;
    }

    .app-btn-blue.cswidth {
        margin-left: 0;
        width: 100%;
    }

    .form-group.login input[type=email],
    .form-group.login input[type=password] {
        height: 50px;
    }

    .header {
        font-size: 1.5em;
    }

    .toaster-window {
        width: 100%;
        top: auto;
        bottom: 0;
        left: 0;
    }

    .toaster-wrapper {
        transition: all $fadeTime linear;

        &.ng-enter > .toaster > .toaster-window {
            top: auto;
            animation: $fadeTime slideUpMobile;
        }

        &.ng-leave > .toaster > .toaster-window {
            top: auto;
            animation: $fadeTime slideDownMobile;
            bottom: -300px;
        }
    }

    .form-group.login label.error {
        font-size: 12px;
    }

    .msg-error {
        font-size: 12px;
    }

    .links img {
        width: 45px;
    }

    .form-group.login input[type=email],
    .form-group.login input[type=password] {
        height: 50px;
    }

    .form-group.login {
        margin-bottom: 10px;
    }

    #home_container {
        background-size: cover;
        height: 90%;

        .welcometo {
            font-size: 30px;
        }
    }

    #article-page {
        padding: $main-app-offset/2;
    }

    #cards-wrapper {
        .article-title {
            height: 110px;
        }
    }

    .navbar-nav {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;

        & > .user-menu .user-image {
            float: none;
            margin-right: 0;
            margin-top: -8px;
            line-height: 10px;
        }
    }

    .sidebar-item {
        padding-left: 10px;
    }

    .profile-header {
        height: 11em;
    }

    .profile-img-square {
        margin-top: -100px;
        width: 200px;
        height: 200px;
    }

    .profile-name {
        margin-top: 1em;
    }

    .text-center-mobile {
        text-align: center;
    }

    .read-article-img {
        width: 360px;
        height: 280px;
    }
}
