.message-box {
    z-index: 1000;
    position: fixed;
    padding: 1em;
    border-radius: $main-border-radius;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  opacity: 0;
}