a.cstmblock {
    display: block;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
.panel-default { 
    border: white;
}
.panel-default>.panel-heading {
    padding: 0;
    background-color: $navbar-color;
    color: white;
    width: 275px;
    float: right;
}

.panel-default>.panel-heading:hover {
    color: black !important;
    background-color: white !important;
    transition: $app-transition;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.76);
    border: none;
}

.profile label {
    line-height: 30px;
    font-size: 17px;
}

img.img-size {
   width: 100px; 
   height: 100px;
}

.file-upload {
     position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
     overflow: hidden; /* Все что выходит за пределы - скрываем */
     width: 52%; /* Задаем ширину кнопки выбора файла */
     height: 35px; /* Задаем высоту кнопки выбора файла */ 
     float: right;
     background: $navbar-color;
     border-radius: 4px;
     margin-top: 15px;
     padding: 8px 4px;
     color: #fff;
     text-align: center;
}
.file-upload:hover {
     background-color: #fcf8e3;
        color: black;
        border: none;
        transition: $app-transition;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.76);
}
.file-upload input[type="file"]{
    display: none; /* Обязательно скрываем настоящий Input File */
}
.file-upload label {
     /* Растягиваем label на всю возможную площадь блока .file-upload */
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
     font-size: 16px;
}
.file-upload span {
     line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}



