.form-horizontal>#addUsername {
  width: 85px;
}

.modal-footer {
  text-align: center !important;
}

.panel-footer {
  text-align: center  !important;
  margin: 0 !important;
}

.panel {
  margin-top: 100px;
}