a.cstmblock {
    display: block;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.profile label {
    line-height: 30px;
    font-size: 17px;
}

.change-pass {
    height: 64px;
    margin-bottom: 0;
}
.error-msg {
    margin-top: 5px;
    color: #af5050;
    position: absolute;
    top: 88px;
    right: 20px;
    margin-bottom: 0;
    font-size: 13px;
}
.change-pass .error {
    color: #af5050;
    float: right;
    margin-bottom: 0;
    font-size: 13px;
}

img.img-size {
   width: 100px; 
   height: 100px;
}

.save-reset {
    float: right;
}
.file-upload {
     position: relative;
     overflow: hidden;
     width: 52%; 
     height: 35px; 
     float: right;
     background: $navbar-color;
     border-radius: 4px;
     margin-top: 15px;
     padding: 8px 4px;
     color: #fff;
     text-align: center;
     box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.76);
}

.file-upload:hover {
    background-color: #fcf8e3;
    color: black;
    border: none;
    transition: $app-transition;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.76);
}

.cstm-btn {
    height: 35px; 
    background: $navbar-color;
    border-radius: 4px;
    margin-top: 15px;
    color: #fff;
    text-align: center;
    line-height: 10px;
    font-weight: 700;
}

.cstm-btn:hover {
    background-color: #fcf8e3;
    color: black;
    border: none;
    transition: $app-transition;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.76);
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload>label {
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
     font-size: 16px;
}

.file-upload span {
    line-height: 36px; 
}

.margin-bottom {
    margin-bottom: 15px;
}
@media only screen and (max-width: 1200px) {
    .profile label {
        font-size: 15px;
    }
}
@media only screen and (max-width: 768px) {
   .profile .pull-right {
        float: none!important;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
    .profile label {
        line-height: inherit;
        font-size: 17px;
    }
    .save-reset {
    float: none;
    }
    .save-reset .app-btn-blue {
        width: 49.4%;
        margin: 10px auto;
    }
    .app-btn-blue.cstm-btn {
        height: 35px; 
        line-height: 10px; 
        width: 40%;
        font-size: 17px;
        font-weight: 700;
   }
}