a.cstmblock {
    display: block;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.profile label {
    line-height: 30px;
    font-size: 17px;
}
<<<<<<< HEAD
.form-group.change-pass {
    height: 64px;
    margin-bottom: 0;
}
.form-group.change-pass label.error {
    color: #af5050;
    float: right;
    margin-bottom: 0;
    font-size: 14px;
}

img.img-size {
   width: 100px; 
   height: 100px;
}
.profile-size{
    height: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1;
}
.file-upload {
     position: relative;
     overflow: hidden;
     width: 52%; 
     height: 35px; 
     float: right;
     background: $navbar-color;
     border-radius: 4px;
     margin-top: 15px;
     padding: 8px 4px;
     color: #fff;
     text-align: center;
}

.file-upload:hover {
     background-color: #fcf8e3;
        color: black;
        border: none;
        transition: $app-transition;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.76);
}
.file-upload input[type="file"]{
    display: none;
}
.file-upload label {
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
     font-size: 16px;
}
.file-upload span {
     line-height: 36px; 
}