$sidebar-width: 350px;
$sidebar-color: #e8e8e8;
$item-hover-color: #c1c1c1;
$item-text-color: #000000;
#sidebar-wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
    @media(min-width: 768px) {
        padding-left: $sidebar-width;
        .toggled {
            padding-left: 0;
        }
    }
    #sidebar {
        width: $sidebar-width;
        z-index: 1000;
        position: fixed;
        left: $sidebar-width;
        width: 0;
        height: 100%;
        margin-left: -$sidebar-width;
        margin-top: 0;
        overflow-y: auto;
        background: $sidebar-color;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        @media screen and (min-width: 768px) {
            width: $sidebar-width;
        }
        .sidebar-nav {
            position: absolute;
            top: 0;
            width: $sidebar-width;
            margin: 0;
            padding: 0;
            list-style: none;
//            .category-item {
//                &:hover {
//                    background-color: $item-hover-color;
//                    
//                }
//            }
            ul {
                padding: 0;
                list-style-type: none;
            }
            li {
                a {
                    display: block;
                    text-decoration: none;
                    color: $item-text-color;
                    &:hover {
                        text-decoration: none;
                        
                        background-color: none;
                    }
                    &:active,
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
            #allFeedsBtn {
                height: 50px;
                font-size: 18px;
                line-height: 60px;
                a {
                    color: $item-text-color;
                    &:hover {
                        color: #fff;
                        background: none;
                    }
                }
                .all-text {
                    padding-left: 10px;
                }
            }
        }
    }
    .toggled {
        padding-left: $sidebar-width;
    }
    .toggled #sidebar {
        width: $sidebar-width;
    }
    #page-content-wrapper {
        width: 100%;
        position: absolute;
    }
    .toggled #page-content-wrapper {
        position: absolute;
        margin-right: -$sidebar-width;
    }
    .toggle-btn-container {
        z-index: 1000;
        position: fixed;
        width: 40px;
        margin-left: -15px;
        #menu-toggle {
            position: absolute;
            z-index: 1001;
            border: 0px solid transparent;
            background-color: #e8e8e8;
            border-radius: 0px;
        }
    }
}

@media(min-width:768px) {
    #sidebar-wrapper {
        padding-left: $sidebar-width;
    }
    #sidebar-wrapper.toggled {
        padding-left: 0;
    }
    #sidebar {
        width: $sidebar-width;
    }
    #sidebar-wrapper.toggled #sidebar {
        width: 0;
    }
    #page-content-wrapper {
        padding: 0;
        position: relative;
    }
    #sidebar-wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.sidebar-item{
    padding-left: 40px;
    padding-right: 10px;
    cursor: pointer;
    width: 100%;
    line-height: 3em;
    &:hover{
        background-color: $item-hover-color; 
    }
}