$sidebar-color: #e8e8e8;
$item-hover-color: #c1c1c1;
$item-text-color: #000000;
$sidebar-mobile-width: 270px;

#sidebar-toggle {
    float: left;
    margin-left: 1em;
}

#dashboard {
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    #sidebar-wrapper {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 100;
        display: block;
        padding: 0px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: $sidebar-color;
    }

    .sidebar-mobile {
        display: block;
    }

    .sidebar-overlay {
        position: fixed;
        z-index: 99;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
    }

    #sidebar {
        width: 100%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        a {
            display: block;
            text-decoration: none;
            color: $item-text-color;

            &:hover {
                text-decoration: none;
                background-color: transparent;
            }

            &:active,
            &:focus {
                text-decoration: none;
            }
        }

        .app-btn-blue {
            margin-top: 1em;
        }
    }

    #page-content-wrapper {
        width: 100%;
        position: absolute;
    }
}

#dashboard #allFeedsBtn {
    height: 50px;
    font-size: 18px;
    line-height: 60px;

    a {
        color: $item-text-color;

        &:hover {
            color: #fff;
            background: none;
        }
    }

    .all-text {
        padding-left: 10px;
    }
}

ul[dnd-list], ul[dnd-list] > li {
    position: relative;
}

ul[dnd-list] {
    min-height: 3em;
}

ul[dnd-list] .dndDraggingSource {
    display: none;
}

ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #c1c1c1;
    min-height: 3em;
}

#sidebar-wrapper.toggled {
    display: block;
}

.sidebar-item {
    padding-left: 1em;
    cursor: pointer;
    width: 100%;
    line-height: 3em;
    border-right: 0em solid;

    &:hover {
        transition: background 0.2s ease;
        border-right: 0.7em solid $blue-btn-active-color;
        background-color: $item-hover-color;
    }

    @media(max-width: $phone-res) {
        padding-left: 10px;
    }
}

.sidebar-item .sidebar-sub-item {
    padding-left: 1em;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    line-height: 3em;
    border-right: 0em solid;
    border-left: 2px solid black;

    @media(max-width: $phone-res) {
        padding-left: 20px;
    }
}

@media(max-width: $tablet-res) {
    #sidebar-wrapper {
        animation: 0.3s slideLeft ease;
        width: $sidebar-mobile-width;
    }

    ul {
        width: 100%;
    }

    #dashboard #sidebar-wrapper.sidebar-mobile {
        display: none;
    }
}