$toaster-height: 70px;
.ng-modal-dialog {
    border-radius: $main-border-radius;
    z-index: 100;
    position: absolute;
    width: 400px;
    height: $toaster-height;
    top: 50px;
    right: 0px;
    background-color: #5f5f5f;
    color: white;
    animation: 0.3s slideDown;
}
<<<<<<< HEAD

=======
>>>>>>> 7d6d54bcf6294a91a0da1a097b288f6086ead9e9
.ng-modal-dialog-content {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 10px;
    text-align: left;
}
<<<<<<< HEAD

@keyframes slideDown {
    0% {
        top: -$navbar-height + $toaster-height;
        opacity: 0;
    }
    100% {
        top: $navbar-height;
        opacity: 1;
    }
}
=======
>>>>>>> 7d6d54bcf6294a91a0da1a097b288f6086ead9e9
