$main-border-radius: 3px;
$blue-btn-color: #42a5f5;
$blue-btn-active-color: #3949ab;
$delete-btn-color: #eb4e54;
$app-transition: all 0.2s ease;
$main-background-color: #f9f9fb;
$main-app-padding: 1em;
$phone-res: 768px;
$tablet-res: 992px;
$desktop-res: 1200px;

html {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
    margin-top: 50px;
}

p {
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.shortened-text-block {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shortened-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cswidth {
    width: 40%;
}

.app-panel {
    border: none;
    border-radius: $main-border-radius;
    transition: $app-transition;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    &:visited {
    }

    &:hover {
        border: none;
        transition: $app-transition;
        box-shadow: 0 4px 15px 0 rgba(57, 73, 171, 1);
    }

    &:active {
        border: none;
        outline: none;
    }
}

.my-hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.center-text {
    text-align: center;
}

* {
    outline: none;
}

.center-children {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert{
    margin-bottom: 0px;
    margin-top: $main-app-padding;
}

@media screen and (max-width: $phone-res) {
    .hide-mobile {
        display: none;
    }
}

@media screen and (max-width: $tablet-res) {
    .hide-tablet {
        display: none;
    }
}

@media screen and (max-width: $desktop-res) {
    .hide-desktop {
        display: none;
    }
}

@import "navbar";
@import "addFeed";
@import "feedList";
@import "sidebar";
@import "home";
@import "auth";
@import "profileSettings";
@import "buttons";
@import "modals/toaster";
@import "modals/modal";
@import "animations";
