@import "addFeed";
@import "feedList";
@import "home";
@import "auth";
@import "profileSettings";

p{
  margin: 0;
  padding: 0;
}
a{
  color: #000000;
  text-decoration: none;
  text-transform: none;
}
a:hover{
  color: #000000;
}
#views_container{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.container-fluid{
  padding-right: 0px !important;
  padding-left: 0px !important;
}


