$main-border-radius: 3px;
$blue-btn-color: #42a5f5;
$blue-btn-active-color: #3949ab;
$delete-btn-color: #eb4e54;
$app-transition: all 0.2s ease;
$main-background-color: #f9f9fb;
$main-app-padding: 1em;
html {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
    padding-top: 50px;
}

p {
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

#app-wrapper>.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.shortened-text-block {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shortened-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cswidth {
    width: 40%;
}

.app-panel {
    border: none;
    border-radius: $main-border-radius;
    transition: $app-transition;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    &:visited {}
    &:hover {
        border: none;
        transition: $app-transition;
        box-shadow: 0 4px 15px 0 rgba(57, 73, 171, 1);
    }
    &:active {
        border: none;
        outline: none;
    }
}

.my-hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.center-text {
    text-align: center;
}

* {
    outline: none;
}

.center-children{
    display: flex;
    justify-content: center;
    align-items: center;
}



@import "navbar";
@import "animations";
@import "addFeed";
@import "feedList";
@import "sidebar";
@import "home";
@import "auth";
@import "profileSettings";
@import "buttons";
@import "modals/toaster";
@import "modals/modal";
