<div id="article-page">
	<div class="row">
		<div class="col-lg-9">
			<div class="card clearfix">
				<div class="fav-indicator" ng-show="checkIfFavourites(articleForRead)">
				</div>
				<h2 ng-bind="articleForRead.title"></h2>
				<div class="article-row">
					<span class="article-page-time-icon glyphicon glyphicon-time"></span>
					<span class="article-page-date" ng-bind="getArticleDate(articleForRead.date)"></span>
				</div>
				<div class="article-row">
					<div class="img-responsive read-article-img" ng-show="articleForRead.img" ng-style="{'background-image':'url(' + articleForRead.img + ')'}">
					</div>
				</div>
				<div class="article-row">
					<p ng-bind="articleForRead.content"></p>
				</div>
				<div class="article-row">
					<span class="article-footer-item glyphicon glyphicon-star onhover-orange" ng-click="addFavourite(articleForRead)" ng-hide="checkIfFavourites(articleForRead)"></span>
					<span class="article-footer-item fa fa-share-alt onhover-green" ng-click="share(articleForRead)" uib-popover-template="'partials/modals/sharing.html'" popover-placement="bottom-left"></span>
				</div>
				<div class="center-children">
					<a class="app-btn app-btn-blue" href="{{articleForRead.link}}" target="_blank"><span>Continue reading</span></a>
				</div>
			</div>
		</div>
		<div class="col-lg-3 adviced-articles-wrapper">
			<h3 class="also-read-header">Also read</h3>
			<div class="card adviced-article-card col-lg-12 col-md-4 col-xs-6" ng-repeat="article in adviced">
				<div class="adviced-article-title">
					<div class="list-item" ng-click="readArticle(article)"><span ng-bind="article.title"></span></div>
				</div>
				<div class="img-responsive adviced-article-img" ng-show="article.img" ng-style="{'background-image':'url(' + article.img + ')'}">
				</div>
			</div>
		</div>
	</div>
</div>
<modal show='modalShown'>
	<h4 class="uppercase">add to favourites</h4>
	<div class="modal-row">
		<select id="category"
				class="form-control form-input"
				ng-model="obj.category"
				ng-options="category for category in categories()"
				ng-change="checkIfNew()"
				uib-tooltip="To enter custom category choose 'custom'"
				tooltip-trigger="'focus'"
				tooltip-placement="right">
			<option value="" disabled selected hidden>Choose</option>
		</select>
	</div>
	<div class="modal-row">
		<input id="new-category" class="form-control form-input fading-anim" placeholder="Enter category name" ng-model="newCatObj.category" ng-show="addingNewFavCategory" maxlength="25">
		</input>
	</div>
	<div class="modal-row">
		<div class="center-children">
			<button type="button" class="app-btn app-btn-blue" aria-label="Justify" ng-click="confirmAddFavourite()">confirm</button>
		</div>
	</div>
	<div class="modal-row">
		<div class="alert alert-danger text-center fading-anim" role="alert" ng-show="error">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			<span ng-bind="error"></span>
		</div>
	</div>
</modal>