<div class="container">
    <div ng-app="tuls" ng-controller="AccordionCtrl">
        <script type="text/ng-template" id="group-template.html">
            <div  class="panel {{panelClass || 'panel-default'}}">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                                Schedule Groups page
                            </span>
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" uib-collapse="!isOpen">
                    <div class="panel-body" style="text-align: right" ng-transclude>

                    </div>
                </div>
            </div>
        </script>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="oneAtATime">
                Open only one at a time
            </label>
        </div>
        <div class="well" id="heading_box">
            <h1 class="text-center bg-info">Schedule groups page</h1>
        </div>
        <br>
        <uib-accordion class="text-center" close-others="oneAtATime">
            <uib-accordion-group id="accordion_groups_1" class="bg-info" heading="Group 1 JavaScript Developers" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                <div  ng-controller="DatepickerCtrl">
                    <h3>Selected date is: <em>{{dt | date:'fullDate' }}</em></h3>

                    <div style="display:inline-block; min-height:290px;">
                        <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
                    </div>
                    <hr />
                </div>
            </uib-accordion-group>
            <uib-accordion-group id="accordion_groups_2" class="bg-info" heading="Group 2 Java Developers">
                <div  ng-controller="DatepickerCtrl">
                    <h3>Selected date is: <em>{{dt | date:'fullDate' }}</em></h3>

                    <div style="display:inline-block; min-height:290px;">
                        <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
                    </div>
                    <hr />
                </div>
            </uib-accordion-group>
            <uib-accordion-group id="accordion_groups_3" class="bg-info" heading="Group 3 ATQC Developers">
                <div  ng-controller="DatepickerCtrl">
                    <h3>Selected date is: <em>{{dt | date:'fullDate' }}</em></h3>

                    <div style="display:inline-block; min-height:290px;">
                        <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
                    </div>
                    <hr />
                </div>
            </uib-accordion-group>
        </uib-accordion>
    </div>
</div>