form{
    width: 70%;
    margin: auto;
    height: 80%;
}
h2{
    text-align: center;
}
.form_group #submit_btn{
    text-align: center;
}
.modal_content {
    width: 70%
}
#modal_head{
    background-color: #3498DB;
}
#modal_body{
    background-color: #ECF0F1;
}
#modal_footer{
    background-color: #2C3E50;
}
#submit_btn{
    background-color: #3498DB;
}
#label_name, #label_birthday,#label_email{
    margin-top: 2%;
}